---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

interface Props {
  title?: string;
  description?: string;
  image?: string;
  canonicalURL?: URL;
  type?: 'website' | 'article';
}

const {
  title,
  description = SITE_DESCRIPTION,
  image = '/favicon.svg',
  canonicalURL = new URL(Astro.url.pathname, Astro.site),
  type = 'website',
} = Astro.props;

const fullTitle = title ? `${title} | ${SITE_TITLE}` : SITE_TITLE;
---
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="canonical" href={canonicalURL} />
<title>{fullTitle}</title>
<meta name="description" content={description} />

<meta property="og:type" content={type} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={fullTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.site)} />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={fullTitle} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={new URL(image, Astro.site)} />
